<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/catalogeshop1</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>   
        <property name="connection.pool_size">1</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="model.entity.Category"/>
        <mapping class="model.entity.Club"/>
        <mapping class="model.entity.Goods"/>
        <mapping class="model.entity.Client"/>
        <mapping class="model.entity.DeliveryMethod"/>
        <mapping class="model.entity.Orders"/>
        <mapping class="model.entity.OrderStatus"/>
        <mapping class="model.entity.OrderedGoods"/>
        <mapping class="model.entity.PaymentMethod"/>
           </session-factory>
</hibernate-configuration>
