/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.04.2015, 21:18:05
    Author     : asus
*/

@charset "utf-8";
/* CSS Document */
* {margin:0;padding:0}
html,body {height:100%;}
body {background-color:#aaa;}

#header {
    background-color:#BBFFFF;	
    color:#030;
    z-index:5;
    height:50px;
    position:fixed;
    margin:auto;
    min-width:790px;max-width:1300px;
    left: 15%;
    width:100%;	

}

h1{
    font-family:"Times New Roman",Times,serif;
    size: 16px;
    text-align:center;

}
#footer {
    background-color:#BBFFFF;	
    height:50px;
    z-index:5;
    position:fixed; /* параметр, при помощи которого мы фиксируем div-блок */
    bottom:0px; /*указываем отступ от нижней части страницы = 0px, т.е. убираем его вообще*/
    min-width:790px;max-width:1300px;
    left: 15%;
    width:100%;
    text-align:center;

}
#middle {
    background-color:#F0FFFF;	
    overflow:hidden;
    min-height:100%;
    padding-bottom:100px; 
    padding-top:60px;
    position:relative;
    z-index:4;
    min-width:790px;max-width:1300px;
    left: 15%;
    width:100%;
}
*html #middle {
    overflow:visible;
    height:100%;
}
#content,#left {
    overflow-x:hidden;
    position:relative;
    z-index:1;
}
#content {
    float:left;
    left:0;
    width:30%;
}
#left {
    background-color:#FFFFFF;

}



.left {
    background:#FFFFFF;
    position:absolute;
    right:0;
    bottom:0;
    width:75%;
}
html>body .left {top:0;}
*html .left{height:1000em;}

p{padding:7px;}



font{ 
    font-family: Georgia;
    text-shadow: 2px 2px 3px #000; 
    font-family:"Times New Roman",Times,serif;

}



#headimg, #catalog{
    margin:auto;
    font-family:"Times New Roman",Times,serif;
    font-size: 16px;
    width: 800px;
    text-align: left;
    border-collapse: collapse;
    margin:5% 5% 5% 5%;
    border: 0;

}
#checkClub{
    margin:auto;
    font-family:"Times New Roman",Times,serif;
    font-size: 16px;
    width: 50%;
    text-align: left;
    border-collapse: collapse;
    margin:5% 5% 5% 15%;
    border: 0;
}
th,caption {
    font-size: 18px;
    font-weight: normal;
    border: 0;
    padding: 8px;
    text-align:center;

}
td {
    border: 0;
    padding: 8px;
    width: 50%;
}

#tableGoods{
    margin:auto;
    font-family:"Times New Roman",Times,serif;
    font-size: 16px;
    width: 250px;
    text-align: left;
    border-collapse: collapse;	
    margin:5% 5% 5% 5%;
    border: 4px solid  #AFEEEE;

}
A {
    color: #0000EE; /* Цвет ссылок */
}
A:visited {
    color: #1874CD; /* Цвет посещенных ссылок */
}
A:active {
    color: #00C5CD; /* Цвет активных ссылок */
}

p.link{
    position:absolute; 
    right:20px; 
    top: 0px; 
}

.menu {
    margin:auto;
    font-family:"Times New Roman",Times,serif;
    font-size: 18pt;    
    margin:0 5% 0 7%;
    height:50px;
    border-color:#00868B;
    border-style:solid;
    border-width:1px;
    background:#8EE5EE;
    cursor:pointer;
    width: 250px;
}

.menu:hover {
    border-color:#8EE5EE;
    border-style:solid;
    border-width:1px;
    background:#00C5CD;
}
.menu:focus {
    background:#00C5CD;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 750px }

#cartTable td {
    width: 145px;
    height: 90px;
}
.lightBlue { background-color: #edf8f7 }

.white { background-color: #F0FFFF }

.headertable {
    background-color: #c3e3e0;
    height: 30px;
}

#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
    font-family:"Times New Roman",Times,serif;
    font-size: 14pt;    
}
#addgoods{
    height: 30px;
    width: 100px;
    font-family:"Times New Roman",Times,serif;
    font-size: 14pt; 

}
#nogoods{
    height: 30px;
    width: 200px;
    font-family:"Times New Roman",Times,serif;
    font-size: 14pt; 

}
#span{

    color:#104E8B;
    font-size:25px;
}
fieldset{
    border: #1874CD ridge thick;
    width: 600px;
    margin:5% 5% 5% 15%;
    padding: 1% 1% 1% 1%;

}
.checkoutButton{
    width: 20%;
    height: 10%;
    font-family:"Times New Roman",Times,serif;
    font-size: 14pt; 
    border-color: #1874CD;
}

#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

.window{
    width: 600px;
    height: 600px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    padding: 16px;
}

.close{
    margin-left: 564px;
    margin-top: 4px;
    cursor: pointer;
}
.background{
    background-size: contain;
    width: 90%; 
    height: 90%
}

.transparentChelsea {
    background: rgba(204, 242, 255, 0.7); /* Цвет фона и значение прозрачности */
    padding: 10px; /* Поля вокруг текста */    
    font-family:"Times New Roman",Times,serif;
    font-size: 15pt; 
    
   }